.forecast {
  &__selection {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__table {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;
  }
}
