.current {
  background-color: black;
  border-radius: 5px;
  width: 340px;

  &__topLine {
    display: flex;
    background-color: grey;
    justify-content: space-around;
  }

  &__lastUpdated {
  }

  &__location {
  }

  &__isDay {
  }

  &__displayContainer {
  }

  &__tempConditions {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__temp {
  }

  &__condition {
  }

  &__wind {
    display: flex;
    justify-content: space-around;
  }
}
